
.singleNoteFull {
    width: 50%;
    margin-left: 20px;
    background-color: antiquewhite;
    border: 0px solid transparent;
    overflow: hidden;
    border-radius: 5px;
    padding: 0;
    transition: 0.2s;
    position: fixed;
    left: 50%;
   top: 50%;
  left: 37%;
    top: 100px; 
    border: 1px solid #00000028;
    padding: 15px 25px;
    transform: scaleX(0.97) ;
    max-height: 85vh;
  }
  .singleNoteFull h2 {
    padding-bottom: 3px;
    display: inline-block;
    border-bottom: 1px solid #41403b;
    margin-bottom: 15px;
    opacity: 0;
    transition: 0.8s;
    font-size: 24px;
    
  }
  
  .singleNoteFull.content .closeIcon {
    transition: 0.2s;
    opacity: 1;
  }
  
  .singleNoteFull.hide {
    display: none;
  }
  
  .singleNoteFull p {
    font-size: 14px;
    opacity: 0;
    transition: 0.8s;
  }
  
  .singleNoteFull.content {
    transition: 0.8s;
    transform: scaleX(1);
    opacity: 1;  white-space: pre-wrap;
  }
  .singleNoteFull.content:hover{
  overflow: auto;
  }
  
  
  .singleNoteFull.content h2,
  .singleNoteFull.content p {
    opacity: 1;
    transition: 0.4s;
  }
  
  .closeIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    color: rgba(255, 0, 0, 0.312);
    opacity: 0;
    transition: 0.2s;
    font-size: 18px;
    transform: rotate(45deg);
  }
  
  .closeIcon:hover {
    transition: 0.2s;
    transform: scale(1.1) rotate(45deg);
    color: red;
    cursor: pointer;
  }
  

.editIcon{
    transition: .3s;
    position: absolute;
    top: 15px;
    right: 45px;
    font-size: 18px;
    opacity: 0.5;
}

.editIcon:hover {
    transition: .3s;
    color: rgb(0, 90, 56);
    cursor: pointer;
    transform: scale(1.1);
}